body {
   color: white;
}

.markdown {
   font-size: 2rem;
   color: white;
   /*padding-inline: 1em;*/
}

.console {
   font-size: 2rem;
   background-color: #111;
   border: 2px solid grey;
   border-radius: 1em;
   position: relative;
   padding: 2em 1em 1em 1em;
   color: var(--color, white);
   font-family: monospace;
   white-space: pre-wrap;
   line-height: 1.5;
   height: 100%;
}

.console:before {
   content: "console";
   position: absolute;
   color: white;
   font-size: 0.5em;
   top: 1em;
   left: 1em;
   color: grey;
   font-family: monospace;
}

.text {
   place-self: center;
   width: 30ch;
   text-align: left;
   font-size: 3em;
}

.slide {
   border: 1px solid white;
   height: 40cqh;
   aspect-ratio: 1;
}
