body {
   background-color: black;
   display: grid;
   place-items: center;
   height: 100vh;
   font-family: "Quicksand";
   font-size: 5rem;
   font-weight: 700;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

#app {
   position: relative;
}

.code {
   top: 1ch;
   bottom: 1ch;
   right: 1ch;
   width: 30ch;
   border: 1px solid grey;
}
